body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.2rem;
  background-color: black;
}


#chessboard {
  display: grid;
  grid-template-columns: repeat(8,100px);
  grid-template-rows: repeat(8,100px);
  width: 800px;
  height: 800px;
  background-color: #0b6623;
}